
.light-theme {
    --primary-color: #b9b9b9;
    --second-color: #7a1212;
    --third-color: #000000;
    --fourth-color: #d8e7ff;
}
.dark-theme { 
    --primary-color: #201f5a;
    --second-color: #da6c12;
    --third-color: #9b9797;
    --fourth-color: #4b4b4b;
}

body {
    background-color: var(--primary-color)
   
}

header {
    background-color: var(--fourth-color);
}

h1 {
    text-align: center;
    font-size: 50px;
    color: var(--second-color)
}

h2 {
    text-align: center;
    font-size: 30px;
    color: var(--third-color)
}



button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

footer {
    text-align: center;
    margin-top: 50%;
    
}


#content {
    
    height: 80px;
    width: 60%
}

#blogTitle {
 width:60%;
 height: 30px;
}

#username {
    width: 40%;
    height: 30px;
}



